In [46]:


import pandas as pd
import numpy as np
import plotnine as p9
import matplotlib.pyplot as plt
import os


date_time = "2023-07-30_19:34"
date_time = "2023-07-31_19:32"

date_time = "2023-09-08_09:59"
date_time = "2023-09-08_10:26"
date_time = "2023-09-08_12:09"
date_time = "2023-09-08_12:23"
date_time = "2023-09-08_15:27"
date_time = "2023-09-08_16:06"


root_results_dir = "/projects/genomic-ml/da2343/ml_project_2/hpc/accuracy_tune/orders"
df = pd.read_csv(f"{root_results_dir}/{date_time}_results.csv")

X = df.drop(columns=["index", "ask_price", "take_profit_price",
                     "MACD", "MACD_Signal", "MACD_Hist",
            "stop_loss_price", "SMA_200", "label", "year", "dataset_name"])

y = df["label"]

X

,position,RSI,ATR,ADX,AROON_Oscillator,WILLR,OBV,CCI,PSAR,AD,ADOSC,VOLUME_RSI,MFI
0,0,48.512910,0.001560,24.067574,-57.142857,-44.683715,535835.0,44.713187,1.221594,-3.425951e+06,-130.081325,52.890900,33.688667
1,0,42.438773,0.001753,24.606555,64.285714,-83.065693,525958.0,-79.053835,1.230751,-3.429883e+06,-3851.544865,56.401177,45.517313
2,0,56.475352,0.001371,17.261912,-42.857143,-54.252199,531535.0,84.205693,1.224223,-3.422439e+06,1027.272748,45.599374,22.883210
3,0,47.999307,0.001669,19.174803,64.285714,-65.464632,538599.0,-43.138994,1.232610,-3.431658e+06,-2772.116400,53.063842,57.077473
4,0,63.665658,0.001766,22.412235,57.142857,-18.849206,553062.0,205.327938,1.227570,-3.431676e+06,-2581.590404,47.936951,59.334526
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5428,0,47.432794,0.001599,21.322446,42.857143,-89.376054,336777.0,-46.338722,1.357305,-5.423638e+05,-824.381123,48.536597,50.358890
5429,0,65.503099,0.002228,19.580544,7.142857,-10.521415,342682.0,174.572678,1.354310,-5.399440e+05,155.788737,66.637813,65.115733
5430,0,66.516900,0.001416,13.875357,42.857143,-16.990291,351275.0,41.647343,1.362183,-5.375866e+05,539.916800,42.600122,70.954668
5431,0,68.509961,0.001797,10.786528,21.428571,-13.985149,354027.0,204.611880,1.362255,-5.386167e+05,163.093543,54.836816,56.578188
5432,0,69.540605,0.001222,10.449157,64.285714,-12.824957,360884.0,53.097040,1.367626,-5.352304e+05,623.729877,40.921168,84.431422

In [45]:
# Import libraries
from sklearn.datasets import load_breast_cancer
from sklearn.feature_selection import *
from sklearn.linear_model import *
from sklearn.metrics import *

# Select the best 10 features based on f-test
selector = SelectKBest(f_classif, k=5)
X_new = selector.fit_transform(X, y)

# Train a logistic regression model on the selected features
clf = LogisticRegression()
clf.fit(X_new, y)

# Predict on the test set and evaluate accuracy
y_pred = clf.predict(X_new)

acc = accuracy_score(y, y_pred)
print(f"accuracy_score: {prec_acc:.2f}")

prec_acc = precision_score(y, y_pred)
print(f"prec_acc: {prec_acc:.2f}")

accuracy_score: 0.00
prec_acc: 0.55

/home/da2343/.local/lib/python3.9/site-packages/sklearn/feature_selection/_univariate_selection.py:112: UserWarning: Features [0] are constant.
/home/da2343/.local/lib/python3.9/site-packages/sklearn/feature_selection/_univariate_selection.py:113: RuntimeWarning: invalid value encountered in divide

In [43]:
X_new_df = pd.DataFrame(X_new, columns=X.columns[selector.get_support()])
X_new_df

      position        RSI        ADX  AROON_Oscillator      WILLR
0          1.0  43.737127  24.038686        -21.428571 -70.205174
1          1.0  54.378527  17.554468         57.142857 -27.718961
2          1.0  51.297184  29.759734        -71.428571 -32.173175
3          1.0  41.032008  28.684824        -57.142857 -62.307127
4          1.0  43.583661  38.426287        -85.714286 -47.350620
...        ...        ...        ...               ...        ...
3186       0.0  53.412857  28.792827         50.000000 -47.167868
3187       0.0  51.230844  24.428807         14.285714 -73.398058
3188       0.0  47.840469  19.846814         21.428571 -62.348668
3189       0.0  50.768175  28.832343         42.857143 -81.361426
3190       0.0  50.733411  26.732345         35.714286 -78.550725

[3191 rows x 5 columns]

In [15]:
selector.get_support()

array([False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True])