In [14]:
import pandas as pd
from glob import glob

date_time = "2024-01-04_06:19" #2021
date_time = "2024-01-04_06:24" #2019
date_time = "2024-01-04_06:44" #2018
date_time = "2024-01-04_06:47" #2017
date_time = "2024-01-04_06:49" #2016
date_time = "2024-01-04_06:50" #2015
date_time = "2024-01-04_08:30" #2014
date_time = "2024-01-04_08:32" #2013
date_time = "2024-01-04_08:37" #2012
date_time = "2024-01-04_08:41" #2011
date_time = "2024-01-04_08:45" #2010

date_time = "2024-01-10_20:32" #2020
date_time = "2024-01-11_04:20" #2020

out_df_list = []
for out_csv in glob(f"/scratch/da2343/ml_project_2_{date_time}/results/*.csv"):
    out_df_list.append(pd.read_csv(out_csv))
return_df = pd.concat(out_df_list, axis=1)
# remove duplicate columns
return_df = return_df.loc[:, ~return_df.columns.duplicated()]

# fill in missing values with 0
return_df = return_df.fillna(0)

return_df['Mean Return'] = return_df.iloc[:, 1:].sum(axis=1)
return_df = return_df[['Month', 'Mean Return']]
return_df

    Month  Mean Return
0       1           11
1       2           26
2       3           19
3       4            3
4       5           14
5       6            9
6       7           31
7       8           10
8       9            9
9      10          -14
10     11           -5
11     12           28

In [4]:
import pandas as pd
from glob import glob

date_time = "2024-01-11_03:08" #2020

out_df_list = []
for out_csv in glob(f"/scratch/da2343/ml_project_2_{date_time}/results/*.csv"):
    out_df_list.append(pd.read_csv(out_csv))
return_df = pd.concat(out_df_list, axis=1)
# remove duplicate columns
return_df = return_df.loc[:, ~return_df.columns.duplicated()]

# fill in missing values with 0
return_df = return_df.fillna(0)

return_df['Mean Return'] = return_df.iloc[:, 1:].sum(axis=1)
return_df = return_df[['Month', 'Mean Return']]
return_df

    Month  Mean Return
0       1           10
1       2            8
2       3           10
3       4           -7
4       5            6
5       6            0
6       7            1
7       8            7
8       9            2
9      10           -3
10     11           -7
11     12            0

In [ ]:
# Import the libraries
import pandas as pd
import matplotlib.pyplot as plt

date_time = "2023-12-23_13:34"
date_time = "2023-12-28_04:39"
date_time = "2024-01-01_19:13"
date_time = "2024-01-01_19:36"


# Read the data from the CSV file
df = pd.read_csv(f"/projects/genomic-ml/da2343/ml_project_2/cnn/results/{date_time}_results.csv")

# df = df[['']]

In [ ]:
df = df[df['threshold'] == 0.5]
df = df[df['dataset_name'] == 'EUR_USD_H1']

In [ ]:
(41.5+32+6+6+5+16+9+22+25-18+26-2+6.8+15-8.3+21)/17

In [ ]:
import plotnine as p9

sub_df = df[df['threshold'] == 0.5]
# sub_df = df[df['dataset_name'] == 'USDCHF_H1']
# sub_df = df[df['dataset_name'] == 'GBPUSD_H1']
# sub_df = df[df['dataset_name'] == 'AUDCAD_H1']
# sub_df = df[df['dataset_name'] == 'EURJPY_H1']
# sub_df = df[df['dataset_name'] == 'USDJPY_H1']
# sub_df = df[df['dataset_name'] == 'AUDUSD_H1']
# sub_df = df[df['dataset_name'] == 'AUDCHF_H1']
# sub_df = df[df['dataset_name'] == 'EURUSD_H1']
# sub_df = df[df['dataset_name'] == 'USDCAD_H1']
gg = p9.ggplot() +\
    p9.facet_grid(". ~ dataset_name+threshold", labeller='label_both') +\
    p9.geom_bar(data=sub_df, 
                mapping=p9.aes(x='Year', y='Return'), stat="identity")

gg.save(f"loss_df.png", width=20, height=7, dpi=500)
gg

In [ ]:
import plotnine as p9

sub_df = df[df['dataset_name'] == 'EURGBP_H1']
sub_df = df[df['dataset_name'] == 'USDCHF_H1']
sub_df = df[df['dataset_name'] == 'GBPUSD_H1']
sub_df = df[df['dataset_name'] == 'AUDCAD_H1']
sub_df = df[df['dataset_name'] == 'EURJPY_H1']
sub_df = df[df['dataset_name'] == 'USDJPY_H1']
sub_df = df[df['dataset_name'] == 'AUDUSD_H1']
sub_df = df[df['dataset_name'] == 'AUDCHF_H1']
sub_df = df[df['dataset_name'] == 'EURUSD_H1']
sub_df = df[df['dataset_name'] == 'USDCAD_H1']
gg = p9.ggplot() +\
    p9.facet_grid(". ~ dataset_name+threshold", labeller='label_both') +\
    p9.geom_bar(data=sub_df, 
                mapping=p9.aes(x='Year', y='trades'), stat="identity")

# gg.save(f"loss_df.png", width=20, height=7, dpi=500)
gg