In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_EURUSD_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/results/1.csv")
df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

df = df[['Year', 'Return', 'label']]

# # for each year, sum the returns and count the number of labels as trades
# df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
# df['trades'] = df['label']
# df.drop(['label'], axis=1, inplace=True)
# df['Percent Return'] = (df['Return'] / df['trades']) * 100

df

      Year  Return  label
0     2005      -1      0
1     2005      -1      0
2     2005       2      1
3     2005      -1      0
4     2005       2      1
...    ...     ...    ...
1201  2023      -1      0
1202  2023       2      1
1203  2023      -1      0
1204  2023      -1      0
1205  2023       2      1

[1206 rows x 3 columns]

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_fix_USDJPY_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/results/1.csv")

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df

    Year  Return  trades  Max Drawdown  Percent Return
0   2005     -19      73            10      -26.027397
1   2006     -11      65            13      -16.923077
2   2007      22      53             6       41.509434
3   2008      23      70             8       32.857143
4   2009       4      71             9        5.633803
5   2010       0      63             6        0.000000
6   2011       6      90             7        6.666667
7   2012       4      83            10        4.819277
8   2013       9      54             4       16.666667
9   2014       5      52             7        9.615385
10  2015      17      76             6       22.368421
11  2016      14      55             6       25.454545
12  2017      -9      48             6      -18.750000
13  2018      15      57             7       26.315789
14  2019      -1      52             9       -1.923077
15  2020       5      73             7        6.849315
16  2021       7      47             6       14.893617
17  2022      -6      72             8       -8.333333
18  2023      11      52             4       21.153846

In [1]:
(31+29+32+20-6-15+34+12+7+14-28+7+29+8-3-9)/17

9.529411764705882

In [4]:
(41.5+32.86+5.56+0+6.6+4.8+17+9.6+22.36+25-18.75+26-1.9+6.8+14.89-8.33+21.15)/17

12.067058823529411

In [9]:
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_fix_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.95_seq_fix_EURUSD_H1_2007_2023.csv") 
df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.95_seq_fix_GBPUSD_H1_2007_2023.csv") 

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df

    Year  Return  trades  Max Drawdown  Percent Return
0   2007       2      37             5        5.405405
1   2008       3      57             7        5.263158
2   2009      21      57             4       36.842105
3   2010       3      45             5        6.666667
4   2011      -6      57            13      -10.526316
5   2012       2      58            12        3.448276
6   2013      38      46             3       82.608696
7   2014       8      52             5       15.384615
8   2015       8      58             6       13.793103
9   2016      14      58             4       24.137931
10  2017       1      53             8        1.886792
11  2018       6      51            10       11.764706
12  2019       7      50             7       14.000000
13  2020      10      56             5       17.857143
14  2021       1      50             6        2.000000
15  2022      -5      59             7       -8.474576
16  2023     -10      28             9      -35.714286

In [9]:
# dummmy
x = 1430
y = 2437
(x/(x+y)) * 100

36.97957072666149

In [10]:
# ml (0.5)
x = 470
y = 818
(x/(x+y)) * 100

36.49068322981366

In [5]:
# ml (0.9)
x = 389
y = 634
(x/(x+y)) * 100

38.02541544477028

In [1]:
# ml (0.95)
x = 354
y = 564
(x/(x+y)) * 100

38.56209150326798

In [1]:
# ml (0.95)
x = 442
y = 754
(x/(x+y)) * 100

36.95652173913043

In [2]:
# ml (0.95)
x = 325
y = 547
(x/(x+y)) * 100

37.27064220183486

In [5]:
# ml (0.5)
x = 398
y = 670
(x/(x+y)) * 100

37.265917602996254