In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
date_time = "2024-01-14_17:54" # EUR_USD_H1 9.8, 59
date_time = "2024-01-14_17:57" # GBP_USD_H1 6.6, 57
date_time = "2024-01-14_17:52" # USD_JPY_H1 2.9, 55
date_time = "2024-01-14_18:04" # EUR_SEK_H1 2.9, 55
# date_time = "2024-01-14_17:52" # USD_JPY_H1 2.9, 55
date_time = "2024-01-14_17:52" # USD_JPY_H1 2.9, 55

df = pd.read_csv(f"/projects/genomic-ml/da2343/ml_project_2/cnn/results/2024-01-28_06:33_results.csv")
df

,Month,TRY_JPY_H1 Return,SGD_CHF_H1 Return,EUR_HKD_H1 Return,EUR_USD_H1 Return,NZD_CAD_H1 Return,SGD_JPY_H1 Return,EUR_SEK_H1 Return,USD_JPY_H1 Return,CHF_JPY_H1 Return,...,GBP_JPY_H1 Return,GBP_SGD_H1 Return,USD_NOK_H1 Return,USD_SGD_H1 Return,HKD_JPY_H1 Return,EUR_SGD_H1 Return,USD_DKK_H1 Return,GBP_CAD_H1 Return,AUD_CAD_H1 Return,EUR_NOK_H1 Return
0,1,-2.251386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.238509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,-2.834237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1.690286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0.296435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
593,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.0
594,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.0
595,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.0
596,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.0

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_fix_USDJPY_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/results/1_dummy.csv")

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df

In [ ]:
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_fix_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.95_seq_fix_EURUSD_H1_2007_2023.csv") 
df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.95_seq_fix_GBPUSD_H1_2007_2023.csv") 

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df