In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
date_time = "2024-01-14_17:54" # EUR_USD_H1 9.8, 59
date_time = "2024-01-14_17:57" # GBP_USD_H1 6.6, 57
date_time = "2024-01-14_17:52" # USD_JPY_H1 2.9, 55
date_time = "2024-01-14_18:04" # EUR_SEK_H1 2.9, 55
# date_time = "2024-01-14_17:52" # USD_JPY_H1 2.9, 55
# date_time = "2024-01-14_17:52" # USD_JPY_H1 2.9, 55

df = pd.read_csv(f"/scratch/da2343/ml_project_2_{date_time}/results/0.csv")
df

    Year  Return  trades  Max Drawdown  EUR_SEK_H1 Percent Return
0   2008      15      54             7                  27.777778
1   2009      16     104             7                  15.384615
2   2010     -13      61            10                 -21.311475
3   2011     -11      62             9                 -17.741935
4   2012      -5      47            12                 -10.638298
5   2013      -1      52             8                  -1.923077
6   2014      -8      41             9                 -19.512195
7   2015     -14      62             9                 -22.580645
8   2016      -3      51             6                  -5.882353
9   2017      -8      41            10                 -19.512195
10  2018      -7      61            10                 -11.475410
11  2019       2      43             8                   4.651163
12  2020      -7      52            10                 -13.461538
13  2021       0      36             7                   0.000000
14  2022      16      62             9                  25.806452
15  2023      12      77             5                  15.584416

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_fix_USDJPY_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/results/1_dummy.csv")

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df

In [ ]:
(31+29+32+20-6-15+34+12+7+14-28+7+29+8-3-9)/17

In [ ]:
(41.5+32.86+5.56+0+6.6+4.8+17+9.6+22.36+25-18.75+26-1.9+6.8+14.89-8.33+21.15)/17

In [ ]:
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_fix_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.95_seq_fix_EURUSD_H1_2007_2023.csv") 
df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.95_seq_fix_GBPUSD_H1_2007_2023.csv") 

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df

In [ ]:
# dummmy
x = 1430
y = 2437
(x/(x+y)) * 100

In [ ]:
# ml (0.5)
x = 470
y = 818
(x/(x+y)) * 100

In [ ]:
# ml (0.9)
x = 389
y = 634
(x/(x+y)) * 100

In [ ]:
# ml (0.95)
x = 354
y = 564
(x/(x+y)) * 100

In [ ]:
# ml (0.95)
x = 442
y = 754
(x/(x+y)) * 100

In [ ]:
# ml (0.95)
x = 325
y = 547
(x/(x+y)) * 100

In [ ]:
# ml (0.5)
x = 398
y = 670
(x/(x+y)) * 100

In [ ]:
# ml (0.5)
x = 426
y = 705
(x/(x+y)) * 100