In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_fix_USDJPY_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/results/2.csv")

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df

    Year  Return  trades  Max Drawdown  Percent Return
0   2005      -1      34             6       -2.941176
1   2006      -3      24             8      -12.500000
2   2007       9      15             3       60.000000
3   2008       9      21             3       42.857143
4   2009      -2      23             8       -8.695652
5   2010       2      16             3       12.500000
6   2011      14      22             3       63.636364
7   2012       8      25             7       32.000000
8   2013      10      26             4       38.461538
9   2014      -3      21             6      -14.285714
10  2015       8      22             3       36.363636
11  2016      -4      19             9      -21.052632
12  2017      -5      17             6      -29.411765
13  2018       2      13             3       15.384615
14  2019       8      19             4       42.105263
15  2020       1      23             5        4.347826
16  2021       5      13             4       38.461538
17  2022       1      23             3        4.347826
18  2023       3      21             8       14.285714

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_fix_USDJPY_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/results/1_dummy.csv")

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df

    Year  Return  trades  Max Drawdown  Percent Return
0   2005     -11      74             9      -14.864865
1   2006       0      60            13        0.000000
2   2007       0      45             7        0.000000
3   2008      19      74             5       25.675676
4   2009       7      62             5       11.290323
5   2010       1      53             6        1.886792
6   2011      24      81             7       29.629630
7   2012      10      53             5       18.867925
8   2013      13      59             5       22.033898
9   2014       1      47             5        2.127660
10  2015      20      64             6       31.250000
11  2016      -7      58             9      -12.068966
12  2017      -3      54            10       -5.555556
13  2018      19      56             4       33.928571
14  2019      21      51             5       41.176471
15  2020       2      58             7        3.448276
16  2021      -8      50            11      -16.000000
17  2022      18      69             5       26.086957
18  2023      21      63             6       33.333333

In [1]:
(31+29+32+20-6-15+34+12+7+14-28+7+29+8-3-9)/17

9.529411764705882

In [4]:
(41.5+32.86+5.56+0+6.6+4.8+17+9.6+22.36+25-18.75+26-1.9+6.8+14.89-8.33+21.15)/17

12.067058823529411

In [9]:
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_EURUSD_H1_2007_2023.csv")
df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/dummy_trades_seq_fix_EURUSD_H1_2007_2023.csv")
# df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.5_seq_USDJPY_H1_2007_2023.csv")

df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.95_seq_fix_EURUSD_H1_2007_2023.csv") 
df = pd.read_csv("/projects/genomic-ml/da2343/ml_project_2/cnn/ml_2_trades_threshold_0.95_seq_fix_GBPUSD_H1_2007_2023.csv") 

df['Time'] = pd.to_datetime(df['Time'])
df['Year'] = df['Time'].dt.year
df['Return'] = np.where(df['label'] == 1, 2, -1)

# Create Max Drawdown column
max_drawdown_df = df.copy() 
max_drawdown_df = max_drawdown_df[['Year', 'Return', 'label']]
max_drawdown = 0
max_drawdown_column = []
for index, row in max_drawdown_df.iterrows():
    if row['Return'] == 2:
        max_drawdown = 0
    elif row['Return'] == -1:
        max_drawdown += 1
    max_drawdown_column.append(max_drawdown)
max_drawdown_df['Max Drawdown'] = max_drawdown_column
max_drawdown_df = max_drawdown_df.groupby(['Year']).agg({'Max Drawdown': 'max'}).reset_index()


# for each year, sum the returns and count the number of labels as trades
df = df.groupby(['Year']).agg({'Return': 'sum', 'label': 'count'}).reset_index()
df['trades'] = df['label']
df.drop(['label'], axis=1, inplace=True)
df = pd.merge(df, max_drawdown_df, on='Year')


df['Percent Return'] = (df['Return'] / df['trades']) * 100
# df['Percent Max Drawdown'] = (df['Max Drawdown'] / df['trades']) * -100

# merge the two dataframes
df

    Year  Return  trades  Max Drawdown  Percent Return
0   2007       2      37             5        5.405405
1   2008       3      57             7        5.263158
2   2009      21      57             4       36.842105
3   2010       3      45             5        6.666667
4   2011      -6      57            13      -10.526316
5   2012       2      58            12        3.448276
6   2013      38      46             3       82.608696
7   2014       8      52             5       15.384615
8   2015       8      58             6       13.793103
9   2016      14      58             4       24.137931
10  2017       1      53             8        1.886792
11  2018       6      51            10       11.764706
12  2019       7      50             7       14.000000
13  2020      10      56             5       17.857143
14  2021       1      50             6        2.000000
15  2022      -5      59             7       -8.474576
16  2023     -10      28             9      -35.714286

In [9]:
# dummmy
x = 1430
y = 2437
(x/(x+y)) * 100

36.97957072666149

In [10]:
# ml (0.5)
x = 470
y = 818
(x/(x+y)) * 100

36.49068322981366

In [5]:
# ml (0.9)
x = 389
y = 634
(x/(x+y)) * 100

38.02541544477028

In [1]:
# ml (0.95)
x = 354
y = 564
(x/(x+y)) * 100

38.56209150326798

In [1]:
# ml (0.95)
x = 442
y = 754
(x/(x+y)) * 100

36.95652173913043

In [2]:
# ml (0.95)
x = 325
y = 547
(x/(x+y)) * 100

37.27064220183486

In [5]:
# ml (0.5)
x = 398
y = 670
(x/(x+y)) * 100

37.265917602996254

In [9]:
# ml (0.5)
x = 426
y = 705
(x/(x+y)) * 100

37.6657824933687